.app
  text-align center

.app-logo
  height 80px
  animation app-logo-spin infinite 20s linear

.app-header
  height 150px
  color white
  background-color #222
  padding 20px

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
