.app-header
  height 150px
  color white
  background-color #222
  padding 20px

.app-header__logo
  height 80px
  animation app-logo-spin infinite 20s linear

.app-header__title
  font-size 1.5em

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
