h2
  text-align left
  font-size 2em
  margin 40px 20px

.list-container
  margin-bottom 50px

.row-container
  height 50px
  line-height 50px
  text-align left
  color $purpleText
  white-space nowrap
  padding 0 20px

  &::hover
    background-color $darkGray

.row-border
  width 95%
  margin auto
  border-bottom 1px solid $grayBorder

.cards-container
  margin 0 50px 50px
  text-align left

.card-container
  display inline-block
  width 200px
  height 150px
  vertical-align top
  text-align center
  color $purpleText
  margin 20px 30px
  border 2px solid $grayBorder

.card-title
  font-size 1em
  text-transform uppercase
  color white
  background-color $grayBorder
  line-height 30px

.card-content
  padding 10px
  height 100px
