.previous-period-arrow
  position absolute
  top 8px
  left 15px
  color $greyDove
  cursor pointer

.next-period-arrow
  top 8px
  left 65px
  position absolute
  color $greyDove
  cursor pointer

.previous-period-arrow:hover
  color white

.next-period-arrow:hover
  color white

.current-period-text
  margin 0 0 0 120px
  line-height 55px
