.user-profile-container
  height 230px
  width 100%
  text-align center
  padding 40px 0 40px 0

.fdj-logo
  display block
  height 50px
  width 100px
  margin auto

.user-profile_picture
  display block
  height 80px
  width 80px
  border-radius 50%
  margin auto
  margin-top 40px

.user-profile_name
  color white
  font-size 1.1em
  font-weight 500
  margin 10px 0 0 0

.user-profile_job
  color $greyDove
  font-size .8em
  font-weight 400
  text-align center
  margin 5px 0 0 0

.side-menu_icon
  vertical-align middle
  margin 8px 0 8px 80px

.side-menu_label
  display inline
  position relative
  width 60px
  font-size .95em
  vertical-align middle
  margin 8px 8px 0

.side-menu_arrow
  position absolute
  top -.4em
  right -42px
  vertical-align middle

.overview_arrow
  right -20px

.ecredits_arrow
  right -36px

.side-menu_highlight
  position absolute
  top -1.25em
  left -142px
  background-color transparent
  width 60px
  height 56px

.overview_highlight
  background-image linear-gradient(to right, #EF5F48, $greyMineShaft);

.players_highlight
  background-image linear-gradient(to right, #8F39C1, $greyMineShaft);

.ecredits_highlight
  background-image linear-gradient(to right, #EF5F48, $greyMineShaft);

.settings_highlight
  background-image linear-gradient(to right, #8F39C1, $greyMineShaft);
