.side-menu-container
  display inline-block
  width 250px
  height 100%
  vertical-align top
  background-color $greyMenuBackground
  color $greyMenuText

.side-menu-container a
  color black
  text-decoration none

.side-menu_link
  color red
  text-decoration none

.side-menu_item
  color blue
