.user-profile-container
  height 230px
  width 100%
  text-align center
  padding 40px 0 40px 0

.fdj-logo
  display block
  height 50px
  width 100px
  margin auto

.user-profile_picture
  display block
  height 80px
  width 80px
  background-color cyan
  border-radius 50%
  margin auto
  margin-top 40px

.user-profile_name
  color white
  font-size 1.1em
  font-weight 500
  margin 10px 0 0 0

.user-profile_job
  color $greyDove
  font-size .8em
  font-weight 400
  text-align center
  margin 5px 0 0 0

.side-menu_icon
  vertical-align middle
  margin 8px 0 8px 40px

.side-menu_label
  position relative
  font-size .95em
  text-indent -6px
  vertical-align middle
  margin 8px 0 8px 0

.side-menu_arrow
  position absolute
  top -.4em
  right -50px
  vertical-align middle
