.left-chart-group-container
  display inline-block
  vertical-align top

.right-chart-group-container
  display inline-block
  vertical-align top

.player-segmentation-chart
  width 600px

.player-bet-chart
  width 300px
  margin 0 0 0 40px
