// THEME COLORS
$greyTabBackground = #6c6c6c
$greyChartBackground = #494949
$greyMenuBackground = #404040

$greyMenuText = #a1a1a1




// Unused
$grayDark = #f1f2f6
$grayBorder = #dfe4ea
$yellowCard = #f1c40f
$orangeCard = #f39c12
$redCard = #c0392b
$greenCard = #2ecc71
$blueCard = #3498db
$purpleCard = #9b59b6
