// Theme colors
$purpleText = #2f3542

// List colors
$grayDark = #f1f2f6
$grayBorder = #dfe4ea

// Cards colors
$yellowCard = #f1c40f
$orangeCard = #f39c12
$redCard = #c0392b
$greenCard = #2ecc71
$blueCard = #3498db
$purpleCard = #9b59b6
