// Spinning loader position
.css-1wvv9v7
  left: calc(50% - 30px)

.player-segmentation-chart .css-1wvv9v7
  top: calc(50% - 70px)

.player-bet-chart .css-1wvv9v7
  top: calc(50% - 20px)

.show-pie-title .css-1wvv9v7
  top: calc(50% - 45px)
