// Spinning loader position
.css-1wvv9v7
  left: calc(50% - 30px)

.bar-chart .css-1wvv9v7
  top: calc(50% - 70px)

.pie-chart .css-1wvv9v7
  top: calc(50% - 20px)

.show-pie-title .css-1wvv9v7
  top: calc(50% - 45px)

.ecredits-amount-chart .css-1wvv9v7
  top: calc(50% - 80px)

.line-chart .css-1wvv9v7
  top: calc(50% - 70px)
