body
  height 100%
  color white
  font-family 'Roboto', sans-serif
  background-color $greyScorpion

.app-container
  display grid
  grid-template-columns 270px 1fr
  height 100%

.side-menu-container
  width 270px
  height 100%
  vertical-align top
  color $greyDove
  background-color $greyCarbon

.tab-container
  height 100%
  vertical-align top
  text-align center
  background-image url('../../assets/images/fadeBg.png')
  box-sizing border-box
  padding 40px

.period-picker-container
  position relative
  height: 55px
  width calc(600px + 40px + 300px)
  text-align left
  vertical-align center
  background-color $greyCarbon
  margin auto
  margin-bottom 30px

.left-chart-group-container
  display inline-block
  vertical-align top

.right-chart-group-container
  display inline-block
  vertical-align top

.chart-container
  font-size .8em
  text-align left
  background-color $greyCarbon
  margin 0 0 10px 0

.bar-chart
  height 425px
  width 600px

.pie-chart
  height 270px
  width 300px
  margin 0 0 0 40px


h3
  font-size 1.3em
  font-weight 400
  padding 20px 0 10px 20px
  border-bottom 1px solid $pinkTrendy
  margin 0 0 10px 0

h4
  color white
  font-size 1em
  font-weight 400
  text-transform uppercase
  text-align center
  text-indent -80px
  padding 0 0 20px 0
  margin 0
