body
  background-color $white
  font-family 'Roboto', sans-serif
  color white

.app-container
  display grid
  grid-template-columns 250px 1fr


.tab-container
  display inline-block
  height 100%
  background-color $greyTabBackground
  padding 30px
  box-sizing border-box

.chart-container
  width 600px
  background-color $greyChartBackground

h3
  font-size 1em
  font-weight 400
  padding 20px 0 10px 20px
  border-bottom 1px solid $greyTabBackground
