body
  height 100%
  color white
  font-family 'Roboto', sans-serif
  background-color $greyTabBackground


.app-container
  display grid
  grid-template-columns 250px 1fr
  height 100%

.side-menu-container
  width 220px
  height 100%
  vertical-align top
  color $greyMenuText
  background-color $greyMenuBackground

.tab-container
  height 100%
  vertical-align top
  background-color $greyTabBackground
  box-sizing border-box
  padding 40px

.chart-container
  font-size .8em
  background-color $greyChartBackground
  margin 0 0 10px 0

h3
  font-size 1.3em
  font-weight 400
  padding 20px 0 10px 20px
  border-bottom 1px solid $greyTabBackground
  margin 0 0 10px 0

h4
  color white
  font-size 1em
  font-weight 400
  text-transform uppercase
  text-align center
  text-indent -80px
  padding 0 0 20px 0
  margin 0
